
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  font-size: 14px;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.Todo {
  margin: 20px auto;
  padding: 20px 10px;
  max-width: 300px;
  background-color: #ccc;
  border-radius: 6px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.form {
  display: flex;
  gap: 10px;
}

input {
  width: 80%;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

input:focus {
  outline: 1.8px solid #ff9999;
}

.form button {
  width: 50px;
  height: 30px;
  border-radius: 4px;
  background-color: #ff9999;
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
}

.form button:hover {
  font-size: 14px;
}

.item {
  margin-top: 20px;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all .2s;
}

h1 {
  margin-top: 30px;
  text-align: center;
  color: #ccc;
  font-size: 18px;
}

.item button {
  background-color: #ff9999;
  border: none;
  border-radius: 2px;
  color: #fff;
}

.item button:hover {
  font-size: 14px;
  cursor: pointer;
}

.item h3 {
  font-size: 13px;
  color: #fff;
}

.item .bin-icon {
  color: #ff9999;
}

.item .bin-icon:hover {
  transform: scale(1.15);
}

.selected {
  text-decoration: line-through;
  font-style: italic;
  
}

li:hover {
  cursor: pointer
}

.footer {
  text-align: center;
  color: #ccc;
}
